.card-content {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Make card width 100% on mobile */
  max-width: 300px; /* Set a max-width for larger screens */
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card-name {
  font-size: 1.2em;
  margin: 8px 0;
}

.card-location,
.card-price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
}

.card-button {
  background-color: #090a0a;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.card-button:hover {
  background-color: #f3f6f8;
  color: black;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .card-content {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Make card width 100% on mobile */
    max-width: 300px; /* Set a max-width for larger screens */
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  
  .card-name {
    font-size: 1.2em;
    margin: 8px 0;
  }
  
  .card-location,
  .card-price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
  }
  
  .card-button {
    background-color: #090a0a;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .card-button:hover {
    background-color: #f3f6f8;
    color: black;
  }
}
